<?xml version = "1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name = "Console" target = "SYSTEM_OUT" follow="true">
		<PatternLayout disableAnsi="false" pattern="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss}} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG= green TRACE=blue} %style{%C}{cyan} : %msg%n" />
		</Console>
   </Appenders>	
	<Loggers>
		<Root level = "info">
			<AppenderRef ref = "Console"/>
		</Root>
	</Loggers>
</Configuration>